
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<div class='cat-page'>       
<%= form_with model: @expenditure, url: category_expenditures_path(@category) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :category_ids, "Categories" %>
    <% Category.all.each do |category| %>
      <div>
        <%= check_box_tag 'expenditure[category_ids][]', category.id, @expenditure.category_ids.include?(category.id) %>
        <%= label_tag "expenditure_category_ids_#{category.id}", category.name %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Create Trade Record" %>
  </div>
<% end %>
</div>