<%= render partial: 'shared/nav', locals: {title:'CATEGORIES', symbol:'â†', url: :back}%>
<p style="color: green"><%= notice %></p>

<% @categories.each do |category| %>
  <%= link_to category_path(category) do %>
    <div class="categories-index" id="categories">
      <%= render category %>
      
    </div>
  <% end %>
<% end %>


<div class="container-make-category">
<%= link_to "Create New category", new_category_path, class: "make-category" %>
</div>